#headTitle{
	color: green;
	text-align: center;
	font-family: "Arial Black", Arial, sans-serif; 
	font-size: 80px; 

}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    padding-left: 35%;
    font-size: 300px !important;
    display: block;
    margin: 10 auto;
    color: grey;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    /* display: inline-block; */
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.wall{
	background-color: aliceblue;
	

}
